<!-- <div class="container">



    <form class="card" style="border-radius: 15px;">

        <h1 class="text-center">SignUp</h1>

        <div class="card-body">

            <div class="container alert alert-warning" *ngIf = "errorMessageResponse">Error: {{errorMessageResponse}}</div>

            <div class="row align-items-center pt-4 pb-3">
                <label class="col-md-3 ps-5" for="name">
                    <h6 class="mb-0">Name</h6>
                </label>
                <div class="form-group col-md-9 pe-5">
                    <input type="text" [(ngModel)]="user.name" class="form-control form-control-lg" name="name"
                         required />
                </div>
            </div>

            <div class="row align-items-center pt-4 pb-3">
                <label class="col-md-3 ps-5" for="emailAddress">
                    <h6 class="mb-0">Email ID</h6>
                </label>
                <div class="form-group col-md-9 pe-5">
                    <input type="email" [(ngModel)]="user.emailAddress" class="form-control" name="emailAddress"
                         required />
                </div>
            </div>

            <div class="row align-items-center pt-4 pb-3">
                <label class="col-md-3 ps-5" for="contactNo">
                    <h6 class="mb-0">Contact Number</h6>
                </label>
                <div class="form-group col-md-9 pe-5">
                    <input type="tel" [(ngModel)]="user.contactNo" class="form-control" name="contactNo"
                    pattern="[0-9]{10}" title="must have 10 numbers"  maxlength="10"  required />
                </div>
            </div>

            <div class="row align-items-center pt-4 pb-3">
                <label class="col-md-3 ps-5" for="userType">
                    <h6 class="mb-0">User Type</h6>
                </label>
                <div class="form-group col-md-9 pe-5">
                    <input type="text" [(ngModel)]="user.userType" class="form-control" name="userType"
                         required />
                </div>
            </div>

            <div class="row align-items-center pt-4 pb-3">
                <label class="col-md-3 ps-5" for="dateOfBirth">
                    <h6 class="mb-0">DOB</h6>
                </label>
                <div class="form-group col-md-9 pe-5">
                    <input type="date" [ngModel]="user.dateOfBirth | date : 'yyyy-MM-dd' " class="form-control" name="dateOfBirth"
                         required />
                </div> 
            </div>

            <div class="row align-items-center pt-4 pb-3">
                <label class="col-md-3 ps-5" for="userId">
                    <h6 class="mb-0">User Id</h6>
                </label>
                <div class="form-group col-md-9 pe-5">
                    <input type="text" [(ngModel)]="user.userId" class="form-control" name="userId"
                        minlength="5" maxlength="8" pattern=".{5,8}" title="user Id should between 5 and 8 characters" required="user Id should between 5 and 8 characters">
                </div>
            </div>

            <div class="row align-items-center pt-4 pb-3">
                <label class="col-md-3 ps-5" for="password">
                    <h6 class="mb-0">Password</h6>
                </label>
                <div class="form-group col-md-9 pe-5">
                    <input type="password" [(ngModel)]="user.password" class="form-control" name="password" id="pwd"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required />
                </div>
            </div>

            <div class="d-flex justify-content-end pt-3">
                <button type="button" class="btn btn-light" (click)="navLogin()">Login</button>
                <button type="reset" class="btn btn-light btn-lg">Reset all</button>
                <input type="submit" class="btn btn-warning btn-lg ms-2" (click)="saveUser()">
            </div>
        </div>

    </form>
</div> -->

<!-- <div class="container">



  <form class="card" style="border-radius: 15px;" #RegisterForm="ngForm" (ngSubmit)="registerUser()">

    <h1 class="text-center">SignUp</h1>

    <div class="card-body">

      <div class="container alert alert-warning" *ngIf="errorMessageResponse">Error: {{errorMessageResponse}}</div>

      <div class="row align-items-center pt-4 pb-3">
        <label class="col-md-3 ps-5" for="name">
          <h6 class="mb-0">Name</h6>
        </label>
        <div class="form-group col-md-9 pe-5">
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="user.name"
            required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" />
          <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required field</small>
        </div>
      </div>

      <div class="row align-items-center pt-4 pb-3">
        <label class="col-md-3 ps-5" for="emailAddress">
          <h6 class="mb-0">Email ID</h6>
        </label>
        <div class="form-group col-md-9 pe-5">
          <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="abc@gmail.com"
            [(ngModel)]="user.emailAddress" required #emailAddress="ngModel"
            [class.is-invalid]="emailAddress.invalid && emailAddress.touched" />
          <small class="text-danger" [class.d-none]="emailAddress.valid || emailAddress.untouched">Email Address is
            required
            field</small>
        </div>
      </div>

      <div class="row align-items-center pt-4 pb-3">
        <label class="col-md-3 ps-5" for="contactNo">
          <h6 class="mb-0">Contact Number</h6>
        </label>
        <div class="form-group col-md-9 pe-5">

          <input type="text" class="form-control" id="contactNo" name="contactNo" placeholder="Contact Number"
            [(ngModel)]="user.contactNo" required #contactNo="ngModel"
            [class.is-invalid]="contactNo.invalid && contactNo.touched" pattern="[0-9]{10}" title="must have 10 numbers"
            maxlength="10" />
          <small class="text-danger" [class.d-none]="contactNo.valid || contactNo.untouched">Contact Number is required
            field</small>
        </div>
      </div>

      <div class="row align-items-center pt-4 pb-3">
        <label class="col-md-3 ps-5" for="userType">
          <h6 class="mb-0">User Type</h6>
        </label>
        <div class="form-group col-md-9 pe-5">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="userType" id="Member" value="Member"
              [(ngModel)]="user.userType" />
            <label class="form-check-label" for="exampleRadios1">Member</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="userType" id="Admin" value="Admin"
              [(ngModel)]="user.userType" />
            <label class="form-check-label" for="exampleRadios2">Admin</label>
          </div>
        </div>
      </div>

      <div class="row align-items-center pt-4 pb-3">
        <label class="col-md-3 ps-5" for="dateOfBirth">
          <h6 class="mb-0">DOB</h6>
        </label>
        <div class="form-group col-md-9 pe-5">

          <input type="date" class="form-control" id="dob" name="dob" placeholder="Date of Birth"
            [ngModel]="user.dateOfBirth | date : 'yyyy-MM-dd' " required #dateOfBirth="ngModel"
            [class.is-invalid]="dateOfBirth.invalid && dateOfBirth.touched" />
          <small class="text-danger" [class.d-none]="dateOfBirth.valid || dateOfBirth.untouched">Date of Birth is a
            required
            field.</small>
        </div>
      </div>

      <div class="row align-items-center pt-4 pb-3">
        <label class="col-md-3 ps-5" for="userId">
          <h6 class="mb-0">User Id</h6>
        </label>
        <div class="form-group col-md-9 pe-5">
          <input type="text" class="form-control" id="userId" name="userId" placeholder="User Id"
            [(ngModel)]="user.userId" required #userId="ngModel" [class.is-invalid]="userId.invalid && userId.touched"
            minlength="5" maxlength="8" pattern=".{5,8}" title="user Id should between 5 and 8 characters" />
          <small class="text-danger" [class.d-none]="userId.valid || userId.untouched">User Id is required field</small>
        </div>
      </div>

      <div class="row align-items-center pt-4 pb-3">
        <label class="col-md-3 ps-5" for="password">
          <h6 class="mb-0">Password</h6>
        </label>
        <div class="form-group col-md-9 pe-5">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password"
            [(ngModel)]="user.password" required #password="ngModel"
            [class.is-invalid]="password.invalid && password.touched" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" />
          <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is a required
            field</small>
        </div>
      </div>

      <div class="d-flex justify-content-end pt-3">
        <button type="button" class="btn btn-light" (click)="navLogin()">Login</button>
        <button type="reset" class="btn btn-light btn-lg">Reset all</button>
        <input type="submit" class="btn btn-warning btn-lg ms-2" (click)="saveUser()">
      </div>
    </div>

  </form>
</div> -->

<!-- ................................................................... -->

<div class="container">

  <form class="card" style="border-radius: 15px;" #RegisterForm="ngForm" (ngSubmit)="registerUser()">
    <h1 class="text-success text-center">User SignUp</h1>
    <small [class.text-danger]>{{errorMessageResponse}}</small>

    <div class="row align-items-center pt-4 pb-3">
      <label class="form-label col-md-3 ps-5" for="exampleInputName">
        <h6 class="mb-0">Name</h6>
      </label>
      <div class="form-group col-md-9 pe-5">
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="user.name"
          required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" />
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required field</small>
      </div>
    </div>

    <div class="row align-items-center pt-4 pb-3">
      <label class="form-label col-md-3 ps-5" for="exampleInputEmailAddress">
        <h6 class="mb-0">Email Address</h6>
      </label>
      <div class="form-group col-md-9 pe-5">
        <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="abc@gmail.com"
          [(ngModel)]="user.emailAddress" required #emailAddress="ngModel"
          [class.is-invalid]="emailAddress.invalid && emailAddress.touched" />
        <small class="text-danger" [class.d-none]="emailAddress.valid || emailAddress.untouched">Email Address is
          required
          field</small>
      </div>
    </div>

    <div class="row align-items-center pt-4 pb-3">
      <label class="form-label col-md-3 ps-5" for="exampleInputcontactNo">
        <h6 class="mb-0">Contact Number</h6>
      </label>
      <div class="form-group col-md-9 pe-5">
        <input type="text" class="form-control" id="contactNo" name="contactNo" placeholder="Contact Number"
          [(ngModel)]="user.contactNo" required maxlength="10" #contactNo="ngModel"
          [class.is-invalid]="contactNo.invalid && contactNo.touched" />
        <small class="text-danger" [class.d-none]="contactNo.valid || contactNo.untouched">Contact Number is required
          field</small>
      </div>
    </div>

    <div class="row align-items-center pt-4 pb-3">
      <label class="form-label col-md-3 ps-5" for="exampleInputDateOfBirth">
        <h6 class="mb-0">Date of Birth</h6>
      </label>
      <div class="form-group col-md-9 pe-5">
        <input type="date" class="form-control" id="dob" name="dateOfBirth" placeholder="Date of Birth"
          (ngModel)="(user.dateOfBirth)" required #dateOfBirth="ngModel"
          [class.is-invalid]="dateOfBirth.invalid && dateOfBirth.touched" />
        <small class="text-danger" [class.d-none]="dateOfBirth.valid || dateOfBirth.untouched">Date of Birth is a
          required
          field.</small>
      </div>
    </div>

    <div class="row align-items-center pt-4 pb-3">
      <label class="form-label col-md-3 ps-5" for="exampleInputType">
        <h6 class="mb-0">User Type</h6>
      </label>
      <div class="form-group col-md-9 pe-5">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="userType" id="Member" value="Member"
            [(ngModel)]="user.userType" />
          <label class="form-check-label" for="exampleRadios1">Member</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="userType" id="Admin" value="Admin"
            [(ngModel)]="user.userType" />
          <label class="form-check-label" for="exampleRadios2">Admin</label>
        </div>
      </div>
    </div>

    <div class="row align-items-center pt-4 pb-3">
      <label class="form-label col-md-3 ps-5" for="exampleInputUserId">
        <h6 class="mb-0">User Id</h6>
      </label>
      <div class="form-group col-md-9 pe-5">
        <input type="text" class="form-control" id="userId" name="userId" placeholder="User Id"
          [(ngModel)]="user.userId" required #userId="ngModel" [class.is-invalid]="userId.invalid && userId.touched" 
          minlength="5" maxlength="8" pattern=".{5,8}"/>
        <small class="text-danger" [class.d-none]="userId.valid || userId.untouched">User Id is required and should have 5 to 8 charaters</small>
      </div>
    </div>

    <div class="row align-items-center pt-4 pb-3">
      <label class="form-label col-md-3 ps-5" for="exampleInputPassword">
        <h6 class="mb-0">Password</h6>
      </label>
      <div class="form-group col-md-9 pe-5">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="user.password" required #password="ngModel"
          [class.is-invalid]="password.invalid && password.touched" />
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is a should be greter than 8 chracters containing atleas one uppercase, one numeric and a special character</small>
      </div>
    </div>

    <div class="d-flex justify-content-end pt-3">
      <button class="btn btn-light" routerLink="/login">Login</button>
      <button type="reset" class="btn btn-light btn-lg">Reset all</button>
      <button type="submit" class="btn btn-primary btn-lg ms-2">Register</button>
    </div>

  </form>
</div>