<app-menu></app-menu>

<h1 *ngIf="user.projects.length!=0">MY PROJECTS</h1>

<div *ngIf="user.projects.length==0" class="d-flex justify-content-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="center text-center text-uppercase alert alert-warning">
        You Don't have Any Projects To Show.

    </div>
</div>
<div class="row" id="divStyle">

    <ng-container *ngFor="let projectDetail of user.projects">
        <div *ngIf="projectDetail.projectOwner === username" class="offer-content">
            <h4 id="h4O">Project Created</h4>
            <h6 class="card-title align-center" id="pMO">{{projectDetail.projectName}}</h6>
            <p class="card-text ">
            <div class="d-flex flex-column ">
                <div class="p-2 "><b>Project Id:</b> {{projectDetail.projectId}}</div>
                <div class="p-2 "><b>Project Manager Name:</b> {{projectDetail.projectManagerName}}
                </div>
                <div class="p-2"><b>Team Name:</b> {{projectDetail.teamName}}</div>
                <div class="p-2"><b>Tech Stack:</b> {{projectDetail.techStack}}</div>
                <div class="p-2"><b>Status:</b> {{projectDetail.status}}</div>
            </div><br>
            <a [routerLink]="['/view-project-status/',projectDetail.projectId]" class="btn btn-success">Project
                Details</a>
        </div>
    </ng-container>


    <ng-container *ngFor="let projectDetail of user.projects">
        <div *ngIf="projectDetail.projectManagerName === user.name" class="offer-contentPM">
            <h4 id="h4PM">Project Manager</h4>
            <h6 class="card-title align-center" id="pMPM">{{projectDetail.projectName}}</h6>
            <p class="card-text ">
            <div class="d-flex flex-column ">
                <div class="p-2 "><b>Project Id:</b> {{projectDetail.projectId}}</div>
                <div class="p-2 "><b>Project Manager Name:</b> {{projectDetail.projectManagerName}}
                </div>
                <div class="p-2"><b>Team Name:</b> {{projectDetail.teamName}}</div>
                <div class="p-2"><b>Tech Stack:</b> {{projectDetail.techStack}}</div>
                <div class="p-2"><b>Status:</b> {{projectDetail.status}}</div>
            </div><br>
            <a [routerLink]="['/view-project-status/',projectDetail.projectId]" class="btn btn-success">Project
                Details</a>
        </div>
    </ng-container>

    <ng-container *ngFor="let projectDetail of user.projects">
        <div *ngIf="projectDetail.techLeadName === user.name" class="offer-contentTL">
            <h4 id="h4TL">Tech Lead</h4>
            <h6 class="card-title align-center" id="pMTL">{{projectDetail.projectName}}</h6>
            <p class="card-text ">
            <div class="d-flex flex-column ">
                <div class="p-2 "><b>Project Id:</b> {{projectDetail.projectId}}</div>
                <div class="p-2 "><b>Project Manager Name:</b> {{projectDetail.projectManagerName}}
                </div>
                <div class="p-2"><b>Team Name:</b> {{projectDetail.teamName}}</div>
                <div class="p-2"><b>Tech Stack:</b> {{projectDetail.techStack}}</div>
                <div class="p-2"><b>Status:</b> {{projectDetail.status}}</div>
            </div><br>
            <a [routerLink]="['/view-project-status/',projectDetail.projectId]" class="btn btn-success">Project
                Details</a>
        </div>
    </ng-container>

    <ng-container *ngFor="let projectDetailATU of user.projects">
        <ng-container *ngFor="let projectDetail of projectDetailATU.projectAssignedToUsers">
            <div *ngIf="projectDetail == username" class="offer-contentAT">
                <h4 id="h4AT">Project Assigned</h4>
                <h6 class="card-title align-center" id="pMAT">{{projectDetailATU.projectName}}</h6>
                <p class="card-text ">
                <div class="d-flex flex-column ">
                    <div class="p-2 "><b>Project Id:</b> {{projectDetailATU.projectId}}</div>
                    <div class="p-2 "><b>Project Manager Name:</b> {{projectDetailATU.projectManagerName}}
                    </div>
                    <div class="p-2"><b>Team Name:</b> {{projectDetailATU.teamName}}</div>
                    <div class="p-2"><b>Tech Stack:</b> {{projectDetailATU.techStack}}</div>
                    <div class="p-2"><b>Status:</b> {{projectDetailATU.status}}</div>
                </div><br>
                <a [routerLink]="['/view-project-status/',projectDetailATU.projectId]" class="btn btn-success">Project
                    Details</a>
            </div>
        </ng-container>
    </ng-container>
</div>


<app-footer></app-footer>