.footer {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the footer to fixed position */
    bottom: 0; /* Position the footer at the top of the page */
    width: 100%; /* Full width */
  }
  
  
  /* Change background on mouse-over */
  .footer a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-bottom: 30px; /* Add a top margin to avoid content overlay */
  }