<app-menu></app-menu>
<div class="main">
    <h2>Profile</h2>
    <div class="card">
        <div class="card-body">
            <form #PasswordForm="ngForm" (ngSubmit)="changePassword()">
                <i class="fa fa-pen fa-xs edit"></i>
                <table class="table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <h6>User Name</h6>
                            </td>
                            <td>:</td>
                            <td>{{user.userName}}</td>
                        </tr>
                        <tr>
                            <td>
                                <h6>Old Password</h6>
                            </td>
                            <td>:</td>
                            <td>
                                <input type="password" class="form-control" id="oldpassword" name="oldpassword"
                                    placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                    [(ngModel)]="oldpassword" required #oldpassword="ngModel"
                                    [class.is-invalid]="oldpassword.invalid && oldpassword.touched" />
                                <small class="text-danger"
                                    [class.d-none]="oldpassword.valid || oldpassword.untouched">Password is a should be
                                    greater than 8 chracters containing atleas one uppercase, one numeric and a special
                                    character</small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>New Password</h6>
                            </td>
                            <td>:</td>
                            <td>
                                <input type="password" class="form-control" id="newpassword" name="newpassword"
                                    placeholder="newpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                    [(ngModel)]="newpassword" required #newpassword="ngModel"
                                    [class.is-invalid]="newpassword.invalid && newpassword.touched" />
                                <small class="text-danger"
                                    [class.d-none]="newpassword.valid || newpassword.untouched">Password is a should be
                                    greater than 8 chracters containing atleas one uppercase, one numeric and a special
                                    character</small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>Confirm Password</h6>
                            </td>
                            <td>:</td>
                            <td>
                                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword"
                                    placeholder="confirmpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                    [(ngModel)]="confirmpassword" required #confirmpassword="ngModel"
                                    [class.is-invalid]="confirmpassword.invalid && confirmpassword.touched" />
                                <small class="text-danger"
                                    [class.d-none]="confirmpassword.valid || confirmpassword.untouched">Password is a should be
                                    greater than 8 chracters containing atleas one uppercase, one numeric and a special
                                    character</small>
                            </td>
                    </tbody>
                </table>
                <button type="reset" class="btn btn-light btn-lg">Reset all</button>
                <button type="submit" class="btn btn-primary btn-lg ms-2">Register</button>
            </form>
            <td><a [routerLink]="['/home/',username]" class="btn btn-primary">Home</a></td>
            <div class="d-flex justify-content-end pt-3">
            </div>
        </div>
    </div>

</div>