<header>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #97d2fc;">
        <div><h2>CONVERTOR</h2></div>

        <ul class="navbar-nav">
            <li><a *ngIf="isUserLoggedIn" [routerLink]="['/home/',username]" class="nav-link">Home</a></li>
            <li><a *ngIf="isUserLoggedIn" routerLink="/view-project-status" class="nav-link">Projects</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a *ngIf="isUserLoggedIn" routerLink="/view-project-status" class="nav-link">Porject Details</a></li>
                <li><a *ngIf="isUserLoggedIn" routerLink="/logout" class="nav-link">logout</a></li>
        </ul>
    </nav>
</header>