<p>project-stories-registration-or-updation works!</p>
<h1 class="text-center">project-stories-registration</h1>


<div class="container">
  <table class="table table-striped">
      <caption>List project Stories</caption>
      <thead class="thead-light">
          <tr>
              <th>Story Id</th>
              <th>Project Id</th>
              <th>Story Title</th>
              <th>Story Description</th>
              <th>Assignee</th>
              <th>Assignee Email Id</th>
              <th>Assignee Date</th>
              <th>Target Date</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody>
          <!-- for (UserDetails userDetail: userDetails) -->
          <tr *ngFor="let storyDetail of story">
              <td>{{storyDetail.storyId}}</td>
              <td>{{storyDetail.projectId}}</td>
              <td>{{storyDetail.storyDescription}}</td>
              <td>{{storyDetail.assignee}}</td>
              <td>{{storyDetail.assigneeEmailId}}</td>
              <td>{{storyDetail.assignmentDate | date : 'yyyy-MM-dd'}}</td>
              <td>{{storyDetail.targetDate | date : 'yyyy-MM-dd'}}</td>
              <td>{{storyDetail.status}}</td>
              <td>{{storyDetail.remarks}}</td>
          </tr>
      </tbody>
  </table>
</div>

