<app-menu></app-menu>
<div class="container">
    <div class="profile-details-content">
        <h1 class="text-center">{{story.storyTitle}} Details</h1>
        <table class="table table-striped table-bordered table-light">
            <thead>
                <tr>
                    <th>Properties</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h6>Story Id</h6></td>
                    <td>{{story.storyId}}</td>
                </tr>
                <tr>
                    <td><h6>Story Title</h6></td>
                    <td>{{story.storyTitle}}</td>
                </tr>
                <tr>
                    <td><h6>Story Description</h6></td>
                    <td>{{story.storyDescription}}</td>
                </tr>
                <tr>
                    <td><h6>Assignee</h6></td>
                    <td>{{story.assignee}}</td>
                </tr>
                <tr>
                    <td><h6>Assignee Email Id</h6></td>
                    <td>{{story.assigneeEmailId}}</td>
                </tr>
                <tr>
                    <td><h6>Assignment Date</h6></td>
                    <td>{{story.assignmentDate | date : 'yyyy-MM-dd'}}</td>
                </tr>
                <tr>
                    <td><h6>Target Date</h6></td>
                    <td>{{story.targetDate | date : 'yyyy-MM-dd'}}</td>
                </tr>
                <tr>
                    <td><h6>Status</h6></td>
                    <td>{{story.status}}</td>
                </tr>
                <tr>
                    <td><h6>Remarks</h6></td>
                    <td>{{story.remarks}}</td>
                </tr>
                <tr>
                <td><button *ngIf="user.role === 'Admin' && project.projectOwner == username || story.assignee == name" (click)="deleteStory(story.storyId)" class="btn btn-warning">Delete</button></td>
                <td><button  (click)="updateStory(story.storyId)" class="btn btn-info">Update</button></td>
                </tr>
            </tbody>
        </table>
        <br>
        <a [routerLink]="['/view-project-status/',projectId]" class="btn btn-primary">Back</a>
    </div>
</div>
