<!-- 

<div class="container">
  <H1 class="text-center">Login!</H1>
  <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
  <div class="alert alert-warning" *ngIf='errorMessageResponse'>{{errorMessageResponse}}</div>

  <div>
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password  : <input type="password" name="password" [(ngModel)]="password">

    <button (click)=handleJWTAuthLogin() class="btn btn-success">Login</button>
    
    <div><li><a routerLink="/memberSignUp" class="nav-link">SignUp</a></li></div>
    <div><li><a routerLink="/projectRegistration" class="nav-link">projectRegistration</a></li></div>
    <div><li><a routerLink="/memberSignUp" class="nav-link">memberSignUp</a></li></div>
    <div><li><a routerLink="/home" class="nav-link">home</a></li></div>
    
    
  </div>

  <button (click)="helloWorld()">button</button>
  <div class="container" *ngIf="helloWorldMessage">Welcome check 
    
    {{helloWorldMessage}}
</div>

</div> -->

<div class="container col-md-6 mt-5">
  <h1 class="text-success">Welcome to Project Management Portal</h1>
</div>

<div class="container col-md-6 mt-5">

  <form #loginForm="ngForm" (ngSubmit)="loginUser()">
    <!-- {{loginForm.form.valid}} -->
    <small class="text-danger">{{errorMessage}}</small>
    <div class="mb-3">
      <label for="exampleInputEmployeeId" class="form-label">User Id</label>
      <input type="text" class="form-control" name="userId" placeholder="User ID" [(ngModel)]="user.userId" required #userId="ngModel" [class.is-invalid]="userId.invalid && userId.touched">
      <small class="text-danger" [class.d-none]="userId.valid || userId.untouched">User Id is required field</small>

    </div>
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="user.password" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
      <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>
    </div>

    <button [disabled]="loginForm.form.invalid" type="submit" class="btn btn-primary">Login</button>

  </form>

  
  <div><li><a routerLink="/member-signUp" class="nav-link loat-right">SignUp</a></li></div>
    <div><li><a routerLink="/project-registration" class="nav-link">projectRegistration</a></li></div>
    <div><li><a routerLink="/project-story-registration" class="nav-link">projectStoryRegistration</a></li></div>
    <!-- <div><li><a routerLink="/member-signUp" class="nav-link">memberSignUp</a></li></div> -->
    <div><li><a routerLink="/home" class="nav-link">home</a></li></div>
</div>