

<div class="container">
  <H1 class="text-center">Login!</H1>
  <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
  <div class="alert alert-warning" *ngIf='errorMessageResponse'>{{errorMessageResponse}}</div>

  <div>
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password  : <input type="password" name="password" [(ngModel)]="password">

    <button (click)=handleJWTAuthLogin() class="btn btn-success">Login</button>
    
    <div><li><a routerLink="/memberSignUp" class="nav-link">SignUp</a></li></div>
    <div><li><a routerLink="/projectRegistration" class="nav-link">projectRegistration</a></li></div>
    <div><li><a routerLink="/memberSignUp" class="nav-link">memberSignUp</a></li></div>
    <div><li><a routerLink="/home" class="nav-link">home</a></li></div>
    
    
  </div>

  <button (click)="helloWorld()">button</button>
  <div class="container" *ngIf="helloWorldMessage">Welcome check 
    
    {{helloWorldMessage}}
</div>

<!-- <button (click)="helloWorldPathVariable(()">button</button>
  <div class="container" *ngIf="helloWorldMessage">Welcome check 
    
    {{helloWorldMessage}}
</div> -->
</div>
