.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}



.offer-content a {
    width: 100%;
}

#left-pane {
    padding-top: 40px;
    border-right: 2px solid rgb(29, 28, 28);
    border-bottom: 2px solid black;
    height: 590px;
}

#left-pane>div {
    margin-top: 25%;
}

#left-pane a {
    padding: 10px 30px;
    width: 90%;
}

#right-pane {
    padding: 0px 30px;
}

.offer-content {
    margin-top: 40px;
    width: 30%;
    border: 1px solid rgb(34, 33, 33);
    border-bottom: none;
    display: inline-block;
    padding: 0px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
}

ul>li {
    display: inline-block;
}

input.form-control {
    display: inline;
}

.offer-content a {
    background-color: rgba(23, 119, 14, 0.87) !important;
}

button.material-icons {
    border: none;
    background: transparent;
}

/* search */

.container {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #405065;
}

.search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin: auto;
}

.form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
}

.form-control::placeholder {
    font-family: FontAwesome;
}

input {
    resize: horizontal;
    width: 200px;
}

input:active {
    width: auto;
}

input:focus {
    min-width: 200px;
}

h2 {
    text-align: center;
    color: rgba(255, 153, 0);
    padding-top: 50px;
}

#divStyle {
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}


/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px;
    /* Add a top margin to avoid content overlay */
}

#h6 {
    background: rgba(23, 119, 14, 0.87);
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px;
}

select {
    margin-top: -3px;
    background-color: white;
    height: 40px;
    text-size-adjust: inherit;
}