<app-menu></app-menu>
<p>Welcome {{message}}.</p>

<h1 class="text-center">User List</h1>

<div class="container">
<table class="table table-striped">
      <caption>List User Details</caption>
      <thead class="thead-light">
          <tr>
              <th>Name</th>
              <th>Email Id</th>
              <th>Contact</th>
              <th>User Type</th>
              <th>DOB</th>
              <th>USER Id</th>
              <th>Password</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let userDetail of user">
              <td>{{userDetail.name}}</td>
              <td>{{userDetail.emailAddress}}</td>
              <td>{{userDetail.contactNo}}</td>
              <td>{{userDetail.role}}</td>
              <td>{{userDetail.dateOfBirth | date : 'yyyy-MM-dd'}}</td>
              <td>{{userDetail.userName}}</td>
              <td>{{userDetail.password}}</td>
          </tr>
      </tbody>
  </table>

</div>